@charset "UTF-8";

.inner {
  width: 1100px;
  margin: 0 auto;
}

.header {
  background-color: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.header__inner {
  display: flex;
  justify-content: space-between;
}

.icon {
  font-size: 40px;
  padding: 15px;
}

.contact {
  margin: auto 0;
  background-color: #74cfae;
  color: #fff;
  font-size: 12px;
  padding: 14px 12px;
  text-decoration: none;
  transition: 0.3s;
  font-family: 'Lato';
}

.contact:hover {
  color: #333;
}

.main {
  padding-top: 70px;
}

.theme {
  background-color: #f2f2f2;
  text-align: center;
}

.theme__inner {
  padding: 250px 0 250px 0;
}

.theme h1 {
  font-family: 'Raleway';
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

.theme h2 {
  font-family: 'Lato';
  margin-top: 20px;
  font-size: 30px;
  color: #c0c0c0;
}

.iphone {
  background-color: #74cfae;
}

.iphone__inner {
  display: flex;
}

.iphone__inner__left {
  padding: 50px 0 0 50px;
}

.iphone__inner__right {
  margin-left: 180px;
  text-align: center;
  color: #fff;
}

.iphone h3 {
  font-family: 'Raleway';
  font-size: 24px;
  padding: 70px 0 35px 0;
}

.iphone p {
  font-family: 'Lato';
  font-size: 20px;
  line-height: 30px;
}

.article {
  background-color: #f2f2f2;
  overflow: hidden;
}

.inner h4 {
  font-family: 'Raleway';
  text-align: center;
  margin: 60px 0 40px 0;
  font-size: 24px;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.article__img {
  margin-right: 100px;
  margin-bottom: 80px;
  float: left;
  transition: 0.3s;
  opacity: 0.7;
}

.article__img:nth-child(3n) {
  margin-right: 0;
}

.article__img:hover {
  opacity: 1.0;
}

.lorem {
  overflow: hidden;
  padding-top: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.lorem p {
  font-family: 'Lato';
  padding: 0 90px 70px 0;
  text-align: center;
  color: #333;
}

.Email {
  font-family: 'Lato';
  font-size: 12px;
  padding: 14px 20px;
  background-color: #74cfae;
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

.Email:hover {
  color: #333;
}

.section {
  background-color: #4e4e4e;
}

.section h5 {
  font-family: 'Lato';
  padding: 70px 0 70px 0;
  text-align: center;
  color: #fff;
  font-size: 24px;
}

.section__img {
  display: flex;
  background-color: #4e4e4e;
  justify-content: center;
  padding-bottom: 100px;
}

.section__img__box p {
  font-family: 'Lato';
  color: #fff;
  font-size: 16px;
  text-align: center;
}

.section__img__box {
  float: left;
  margin-right: 180px;
}

.section__img__box:nth-child(4) {
  margin-right: 0;
}

.sns {
  background-color: #f2f2f2;
}

.sns__inner {
  padding: 200px 0 200px 0;
  display: flex;
  justify-content: center;
}

.sns__icon {
  width: 185px;
  text-align: center;
  display: block;
  padding: 20px 0 20px 0;
  font-size: 50px;
  color: #74cfae;
  transition: 0.3s;
}

.sns__icon:hover {
  background-color: #fff;
}

.footer {
  background-color: #74cfae;
}

.footer__inner {
  display: flex;
  padding: 20px 0 25px 0;
  justify-content: flex-end;
}

.footer p {
  font-family: 'Lato';
  color: #fff;
}
